<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Benjamines</h3>
  </div>
  <div class="panel-body">
    Elles grandissent par la créativité. En utilisant l’imagination débordante des enfants de 6 à 8 ans, nous veillerons dans
    les activités à développer la créativité des enfants et les aiderons à se créer une place dans le groupe
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Petites Etincelles</h3>
  </div>
  <div class="panel-body">
    Elles grandissent par la solidarité. L’enfant de 8 à 10 ans vit en bande. La bande est le lieu où il peut réaliser de grandes
    choses. Nous serons attentifs à promouvoir la solidarité entre les membres du groupe pour que chacun y soit intégré et
    puisse partager ses aptitudes et ses compétences avec les autres.
    <br/><br/>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/Lobet.jpg" alt="Cymric">
          <div class="caption">
            <h3>Cymric</h3>
            <p>Léa Lobet </p>
          </div>
        </div>
      </div>
            <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/Bernabe.jpg" alt="Mazama">
          <div class="caption">
            <h3>Mazama</h3>
            <p>Lola Bernabé </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/Giles.jpg" alt="Cymric">
          <div class="caption">
            <h3>Wallaby</h3>
            <p>Lisa Giles </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Grandes Etincelles</h3>
  </div>
  <div class="panel-body">
    Elles grandissent par la solidarité. L’enfant de 10 à 12 ans vit en bande. La bande est le lieu où il peut réaliser de grandes
    choses. Nous serons attentifs à promouvoir la solidarité entre les membres du groupe pour que chacun y soit intégré et
    puisse partager ses aptitudes et ses compétences avec les autres.
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Alpines</h3>
  </div>
  <div class="panel-body">
    Elles grandissent par l’expression. Le jeune de 12 à 14 ans est à la recherche de son identité et nous pourrons l’aider à
    se construire, en favorisant l’expression de chacun, en développant l’écoute de tous et la communication au sein du groupe.
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Grandes</h3>
  </div>
  <div class="panel-body">
    Elles grandissent par l’ouverture. Le Patro ne saurait être qu’un cocon où il fait bon vivre. Il est nécessaire de tenir
    compte de tout ce qui existe et de se laisser interpeller par ce qui nous entoure. Les animateurs veilleront à favoriser
    l’ouverture de chaque jeune sur les autres et sur le monde.
  </div>
</div>